html {
  font-size: 13px;
  padding: 20px;
  margin: 10px 30px;
}

.container {
  background-color: rgb(33, 33, 124);
  color: aliceblue;
}


.header {
  height: 220px;
  width: auto;
}

.microsoftteam{
  font-size: 30px;
  text-align: center;
  margin: 10px 10px;
}

.microsoftteaminfo{
  text-align: center;
}

.headercontainer {
  text-align: center;
  padding: 30px 5px;
}

.imagediv {
  height: 230px;
  width: 100%;
}

.content {
  margin-top: 20px;
  text-align: left;
}

.textcontent {
  text-align: left;
  margin-top: 10px;
}

.headercontent {
  font-size: 25px;
}

.onedrive {
  margin-top: 30px;
  background: url(img/picture8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.onedrivecontent {
  /* text-align: left; */
  font-size: 35px;
  margin-left: 45px;
  padding: 130px 0;
}

.forwork {
  margin-top: 50px;
}